   <div class=" text-center">

            <div class="thumbnail">
    <h3>Make changes to your post here:</h3>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="inputEmail4">Edit your Topic:</label>
        <textarea class="form-control" type="text" id="edit-title"> {{title}} </textarea>
      </div>
      <div class="form-group">
        <label for="inputAddress">Edit your views:</label>
        <textarea class="form-control" type="text" id="edit-desc">{{content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-sm btn-danger post-list" data-id="{{id}}">Update</button>
      </div>
    </form>
  </div>
   </div>


  <script src="/js/editPost.js"></script>